@import '../../common/variables.scss';

.form{
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 30px;
  margin-bottom: 60px;
  @include font-main-form;
  .dropdown__textfield {
    .selectBox{
      width: 100%;
      background: none;
      border: none;
      padding: 0px;
      font:inherit;
      cursor: pointer;
      @include flex-content;
      .img_rotate{
        transform: rotate(180deg);
      }
    }
    .textfield{
      position: relative;
      width: 100%;
      .textfield__visible{
        z-index: 2;
        left: 0;
        position: absolute;
        padding: 20px;
        background-color: $bg-text-field;
        box-shadow:  0px 0px 3px 2px $shadow-test-field;
        input{
          display: flex;
          overflow: hidden;
          height: 50px;
          border: none;
          background-color: $bg-input;
          padding: 0px 20px;
          @include font-regular;
        }
      }
      .textfield__hidden{
        display: none;
      }
    }
  }
};
