@import '../../common/variables.scss';

.header {
  width: 100%;
  box-shadow: 0 2px 10px 10px $bg-header-shadow;
  .header__container{
    max-width: 1410px;
    height: 112px;
    margin: 0 auto;
    @include flex-content;
    @include breakpoint(xxl) {
      max-width: calc(100% - 120px);
    }
    .header__logo{
      flex: 9;
      img {
        display: flex;
        align-items: center;
      }
    }
    .header__navigate{
      flex: 3 1 310px;
      max-width: 310px;
      .header__icons{
        width: 100%;
        @include flex-content;
        li {
          list-style: none;
          .header__icon {
            padding: 0;
            border: none;
            background-color: transparent;
            cursor: pointer;
            position: relative;
          }
          select {
            border: none;
            cursor: pointer;
            @include font-select;
            option{
              @include font-select;
            }
          }
        }
        li:nth-child(4) {
          img {
            border-radius: 50%; 
            height: 38px;
            width: 38px;
          }
        }
        .chat_active {
          .header__icon::after{
            content: '';
            position: absolute;
            top: -12px;
            right: -3px;
            background-color: $unread-message-color;
            border-radius: 50%;
            border: solid $unread-msg-border 2px;
            height: 10px;
            width: 10px;
          }
        }
      }
    }
  }
}
