@import '../../common/variables.scss';

.header {
  width: 100%;
  box-shadow: 0 2px 10px 10px $bg-header-shadow;
  .header__container{
    max-width: 1410px;
    height: 112px;
    margin: 0 auto;
    @include flex-content;
    @include breakpoint(xxl) {
      max-width: calc(100% - 120px);
    }
    @include breakpoint(md) {
      max-width: calc(100% - 60px);
    }
    @include breakpoint(xl) {
      height: 86px;
    }
    @include breakpoint(sm) {
      height: 50px;
      max-width: calc(100% - 30px);
    }
    .header__logo{
      flex: 9;
      @include breakpoint(md) {
        flex: 0 0 auto;
        height: 20px;
      }
      img {
        display: flex;
        align-items: center;
      }
    }
    .header__navigate{
      flex: 3 1 310px;
      max-width: 310px;
      @include breakpoint(md) {
        flex: 0 0 auto;
      }
      .header__icons{
        width: 100%;
        @include flex-content;
        @include breakpoint(md) {
          display: flex;
          gap: 15px;
        }
        li {
          list-style: none;
          @include breakpoint(sm) {
            display: none;
          }
          .header__icon {
            padding: 0;
            border: none;
            background-color: transparent;
            cursor: pointer;
            position: relative;
            img{
              @include breakpoint(md) {
                width: 20px;
                height: 20px;
              }
            }
          }
          select {
            border: none;
            cursor: pointer;
            @include font-select;
            option{
              @include font-select;
            }
            @include breakpoint(md) {
              @include font-regular-sx;
            }
          }
        }
        li:last-child{
          display: none;
          @include breakpoint(sm) {
            display: block;
          }
        }
        li:nth-child(4) {
          img {
            border-radius: 50%; 
            height: 38px;
            width: 38px;
            @include breakpoint(md) {
              width: 25px;
              height: 25px;
            }
          }
        }
        .chat_active {
          .header__icon::after{
            content: '';
            position: absolute;
            top: -12px;
            right: -3px;
            background-color: $unread-message-color;
            border-radius: 50%;
            border: solid $unread-msg-border 2px;
            height: 8px;
            width: 8px;
            @include breakpoint(md) {
              top: -9px;
              right: -4px;
            }
          }
        }
      }
    }
  }
}
