@import '../../common/variables.scss';

.footer{
  background: $footer-bg;
  color: $footer-text-color;
  width: 100%;
  .footer__container{
    max-width: 1410px;
    margin: 50px auto;
    display: grid;
    gap: 1rem;
    padding-bottom: 20px;
    grid-auto-flow: column;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr minmax(300px, 420px); 
    @include breakpoint(xxl) {
      max-width: calc(100% - 120px);
    }
    a {
      color: $footer-text-color;
      transition: all 0.1s;
      @include font-regular;
      &:hover{
        color: $footer-hover
      }
    }
    p{
      @include font-regular-sm;
      align-self: end;
      grid-row-start: 4;
      grid-row-end: 5;
    }
    .header__logo{
      grid-row-start: 1;
      grid-row-end: 3;
    }
    .header__info{
      @include flex-content;
      nav{
        ul{
          display: flex;
          gap: 1rem;
          list-style: none;
          a{
            line-height: 1rem;
          }
        }
      }
    }
  }
}
