@import '../../common/variables.scss';

.radio_input{
  position: absolute;
  z-index: -1;
  opacity: 0;
  &:checked + label::after {
      opacity: 1;
  }
}
label {
  display: block;
  cursor: pointer;
  display: flex;
  align-items:center;
  justify-content: flex-start;
  user-select: none;
  &::before {
    content: '';
    display: inline-block;
    width: 22px;
    height: 22px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid hsl(210, 11%, 71%);
    border-radius: 50%;
    margin-right: 10px;
    transition: 0.1s;
    @include breakpoint(md) {
      width: 16px;
      height: 16px;
    }
  }
  &::after {
    content: '';
    position: absolute;
    left: 7px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background:  #000000;
    opacity: 0;
    transition: 0.1s;
    margin-right: 10px;
    z-index: 15;
    @include breakpoint(md) {
      left: 4px;
      width: 10px;
      height: 10px;
    }
  }
}
label:hover {
  border-radius: 5px;
  &::before{
    background-color:#8b8b8b41;
  }
}
